@import './base.css';

* {
    word-wrap: break-word;
}

a {
    width: 100%;
    display: block;
    word-wrap: break-word;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.ivu-page-item a{
    margin: 0 !important;
}

.ivu-row {
    margin: 0 !important;
}

body {
    overflow-y: hidden;
}

#app {
    min-width: 320px;
}

#app .ivu-layout-header {
    padding: 0 8px;
}

#app .ivu-image-img {
    vertical-align: top;
}

#app .ivu-page-header {
    height: 48px;
    padding: 8px 16px 0 16px;
}

#app .ivu-page-header-title {
    width: calc(100% - 45px);
}
.page-container {
    margin-top: 56px
}
